body {
  font-family: 'Press Start 2P', sans-serif;
  color: white;
  text-shadow: 4px 4px black;
  background-image: url('https://i.pinimg.com/originals/dc/8d/ef/dc8def609c27f9123c4f61a83a3b93bd.jpg');
  background-size: 100%;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;

  margin: 1em;
}

form div {
  margin: 1em;

  display: inline-block;
}

.item-image {
  max-width: 15%;

  max-height: 15%;
}

.block {
  height: 40px;

  width: 155px;

  overflow: hidden;

  background: #f6da17;

  border: 3px solid black;

  border-radius: 4px;

  -moz-border-radius: 10px;

  -webkit-border-radius: 5px;

  box-shadow: inset -4px -4px 1px #d6a12d;

  -moz-box-shadow: inset -4px -4px 1px #d6a12d;

  -webkit-box-shadow: inset -4px -4px 1px #d6a12d;

  color: white;

  text-align: center;

  text-shadow: 4px 4px 0 #000;
}

.small-block {
  height: 40px;

  width: 80px;

  overflow: hidden;

  background: #f6da17;

  border: 3px solid black;

  border-radius: 4px;

  -moz-border-radius: 10px;

  -webkit-border-radius: 5px;

  box-shadow: inset -4px -4px 1px #d6a12d;

  -moz-box-shadow: inset -4px -4px 1px #d6a12d;

  -webkit-box-shadow: inset -4px -4px 1px #d6a12d;

  color: white;

  text-align: center;

  text-shadow: 4px 4px 0 #000;
}

@-webkit-keyframes mariomation {
  0% {
    text-indent: -300px;
  }

  100% {
    text-indent: 300px;
  }
}

@-moz-keyframes mariomation {
  0% {
    text-indent: -300px;
  }

  100% {
    text-indent: 300px;
  }
}

p.block {
  -webkit-animation: mariomation 2s infinite linear;

  -moz-animation: mariomation 2s infinite linear;
}
