body {
  font-family: 'Press Start 2P', sans-serif;
  /* -webkit-text-stroke: 0.15px black; */
  color: white;
  text-shadow: 3px 3px black;
  /* background-image: url('/images/background picture.jpg'); */
  background-image: url('https://i.imgur.com/4r4pqyY.jpg');
  background-size: cover;
  /* background-blend-mode: screen; */
  margin: 2% 5% 0 5%;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;

  margin: 1em;
}

form div {
  margin: 1em;

  display: inline-block;
}

.item-image {
  /* max-width: 15%; */
  /* width: 10rem; */
  width: 100%;
  height: 12rem;
  max-width: 20rem;
  max-height: 20rem;
  /* max-height: 15%; */
  border-radius: 10px;
  text-align: center;
}

.info-and-button {
  height: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.card {
  width: 50%;
}

.card-panel {
  max-width: 25%;
  width: 40%;
  flex: 1 0 21%;
  margin-bottom: 200px;
}

a:visited,
a,
a:hover {
  color: white;
}

.nes-btn.is-warning {
  color: white;
  margin: 0 10px 0 10px;
}

.nes-btn.inc-dec-btn {
  height: 40px;
}

.nes-input.input {
  width: 30rem;
}

.login-btn-space {
  margin: 10px 10px 10px 0px;
}

.login-btn-space > button {
  margin-right: 10px;
}

.card-name {
  height: 50px;
  display: flex;
  align-items: flex-end;
  /* justify-content: center; */
}

.card-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#item-price {
  text-align: center;
}

.all-items-header h3 {
  margin-bottom: 20px;
}

.footer_parent {
  /* position: relative; */
  position: fixed;
  background-color: rgba(209, 160, 25, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  bottom: 0px;
  height: 8vh;
}
